<div class="row">
	<div class="col-md-12 grid-margin stretch-card">

<div class="w3-container"  style="width:1030px;height:1000px;margin-right:350px;" *ngIf="hotelDetail">
	<div class="w3-panel w3-round-small w3-deep-purple">
		<h3>Hotel Details <button [routerLink]="['/update', index]" class="w3-button w3-blue custom-button"> <i class="w3-medium fa fa-pencil"></i> Edit</button> <button routerLink="/feed" class="w3-button w3-blue custom-button margin-right"> <i class="w3-medium fa fa-chevron-left"></i> Back</button></h3>
	</div>
	<div class=" w3-card custom-card" style="width:1000px;margin-right:350px;"><br>
		<h3 class="text-center">{{hotelDetail.nom}} {{hotelDetail.lieu}}</h3>
		<hr>
		<table class="w3-table w3-bordered" >
			<tr>
				<td><i class="w3-medium custom-icon fa fa-hotel"></i>Nom Hotel</td>
				<td>: <b>{{hotelDetail.nom}}</b></td>
			</tr>
			<tr>
				<td><i class="w3-medium custom-icon fa fa-building"></i>Lieu</td>
				<td>: <b>{{hotelDetail.lieu}}</b></td>
			</tr>
			<tr>
				<td><i class="w3-medium custom-icon fa fa-envelope-o"></i> Email</td>
				<td>: <b>{{hotelDetail.email}}</b></td>
			</tr>
			<tr>
				<td><i class="w3-medium custom-icon fa fa-phone"></i> Phone</td>
				<td>: <b>{{hotelDetail.phone }}</b></td>
			</tr>
			<tr>
				<td><i class="w3-medium custom-icon fa fa-address-card"></i> Address</td>
				<td>: <b>{{hotelDetail.address}}</b></td>
			</tr>
		</table>
	</div>
</div>
</div>
</div>