

<!--<nav class="w3-sidebar w3-bar-block w3-collapse w3-animate-left w3-card-2" style="z-index:3;width:250px;" id="mySidebar">
	
	<img src="assets/hotel2.png" width="180" height="100" class="logo">
	<a class="w3-bar-item w3-button " [ngClass]="{'w3-deep-purple': (active === '/feed')}" routerLink="/feed"> <i class="w3-medium fa fa-list"></i>  Hotel List</a>
	<a class="w3-bar-item w3-button" routerLink="/add"  [ngClass]="{'w3-deep-purple': (active === '/add')}"> <i class="w3-medium fa fa-plus"></i>  Add new Hotel</a>
	<a class="w3-bar-item w3-button" (click)="logOut()"><i class="w3-medium fa fa-sign-out"></i>  Logout</a>
</nav>

<div class="w3-main" style="margin-left:250px;">
	<div class="w3-container">
		<router-outlet></router-outlet>
	</div>
</div>-->

<nav class="navbar default-layout-navbar col-lg-12 col-2 p-0 fixed-top d-flex flex-row">
	<div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
	  <a class="navbar-brand brand-logo" routerLink="/"><img src="assets/images/logo.svg" alt="logo" /></a>
	  <a class="navbar-brand brand-logo-mini" routerLink="/"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
	</div>
	<div class="navbar-menu-wrapper d-flex align-items-stretch">
		<ul class="navbar-nav navbar-nav-right">
			<li class="nav-item nav-profile dropdown" ngbDropdown>
			  <a class="nav-link dropdown-toggle" id="profileDropdown" ngbDropdownToggle>
				<div class="nav-profile-img">
				  <img src="assets/images/faces/face1.jpg" alt="image">
				  <span class="availability-status online"></span>
				</div>
				<div class="nav-profile-text">
				  <p class="mb-1 text-black">David Greymaax</p>
				</div>
			  </a>
			  <div class="dropdown-menu navbar-dropdown" ngbDropdownMenu aria-labelledby="profileDropdown">
				<a class="dropdown-item" href="javascript:;">
				  <i class="mdi mdi-cached mr-2 text-success"></i>
				  Activity Log
				</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="javascript:;">
				  <i class="mdi mdi-logout mr-2 text-primary"></i>
				  Signout
				</a>
			  </div>
			</li>
			<li class="nav-item dropdown" ngbDropdown>
			  <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" ngbDropdownToggle>
				<i class="mdi mdi-email-outline"></i>
				<span class="count-symbol bg-warning"></span>
			  </a>
			  <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" ngbDropdownMenu aria-labelledby="messageDropdown">
				<h6 class="p-3 mb-0">Messages</h6>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item preview-item">
				  <div class="preview-thumbnail">
					<img src="assets/images/faces/face4.jpg" alt="image" class="profile-pic">
				  </div>
				  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
					<h6 class="preview-subject ellipsis mb-1 font-weight-normal">Mark send you a message</h6>
					<p class="text-gray mb-0">
					  1 Minutes ago
					</p>
				  </div>
				</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item preview-item">
				  <div class="preview-thumbnail">
					<img src="assets/images/faces/face2.jpg" alt="image" class="profile-pic">
				  </div>
				  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
					<h6 class="preview-subject ellipsis mb-1 font-weight-normal">Cregh send you a message</h6>
					<p class="text-gray mb-0">
					  15 Minutes ago
					</p>
				  </div>
				</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item preview-item">
				  <div class="preview-thumbnail">
					<img src="assets/images/faces/face3.jpg" alt="image" class="profile-pic">
				  </div>
				  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
					<h6 class="preview-subject ellipsis mb-1 font-weight-normal">Profile picture updated</h6>
					<p class="text-gray mb-0">
					  18 Minutes ago
					</p>
				  </div>
				</a>
				<div class="dropdown-divider"></div>
				<h6 class="p-3 mb-0 text-center">4 new messages</h6>
			  </div>
			</li>
			<li class="nav-item dropdown" ngbDropdown>
			  <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" ngbDropdownToggle>
				<i class="mdi mdi-bell-outline"></i>
				<span class="count-symbol bg-danger"></span>
			  </a>
			  <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" ngbDropdownMenu aria-labelledby="notificationDropdown">
				<h6 class="p-3 mb-0">Notifications</h6>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item preview-item">
				  <div class="preview-thumbnail">
					<div class="preview-icon bg-success">
					  <i class="mdi mdi-calendar"></i>
					</div>
				  </div>
				  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
					<h6 class="preview-subject font-weight-normal mb-1">Event today</h6>
					<p class="text-gray ellipsis mb-0">
					  Just a reminder that you have an event today
					</p>
				  </div>
				</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item preview-item">
				  <div class="preview-thumbnail">
					<div class="preview-icon bg-warning">
					  <i class="mdi mdi-settings"></i>
					</div>
				  </div>
				  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
					<h6 class="preview-subject font-weight-normal mb-1">Settings</h6>
					<p class="text-gray ellipsis mb-0">
					  Update dashboard
					</p>
				  </div>
				</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item preview-item">
				  <div class="preview-thumbnail">
					<div class="preview-icon bg-info">
					  <i class="mdi mdi-link-variant"></i>
					</div>
				  </div>
				  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
					<h6 class="preview-subject font-weight-normal mb-1">Launch Admin</h6>
					<p class="text-gray ellipsis mb-0">
					  New admin wow!
					</p>
				  </div>
				</a>
				<div class="dropdown-divider"></div>
				<h6 class="p-3 mb-0 text-center">See all notifications</h6>
			  </div>
			</li>
			<li class="nav-item nav-logout d-none d-lg-block">
			  <a class="nav-link" href="javascript:;">
				<i class="mdi mdi-power"></i>
			  </a>
			</li>
			<li class="nav-item nav-settings d-none d-lg-block" (click)="toggleRightSidebar()">
			  <a class="nav-link">
				<i class="mdi mdi-format-line-spacing"></i>
			  </a>
			</li>
		  </ul>



	</div>
  </nav>



<nav class="sidebar sidebar-offcanvas"  style="z-index:3;width:250px;height:1000px;" id="sidebar">
	<ul class="nav">
	  <li class="nav-item nav-profile">
		<a href="javascript:;" class="nav-link">
		  <div class="nav-profile-image">
			<img src="assets/images/faces/face1.jpg" alt="profile">
			<span class="login-status online"></span> <!--change to offline or busy as needed-->              
		  </div>
		  <div class="nav-profile-text">
			<span class="font-weight-bold mb-6"> Reservation Hotel</span>
			<span class="text-secondary text-small">Admin</span>
		  </div>
		  <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
		</a>
	  </li>
	  <li class="nav-item" [ngClass]="{ active : '/feed'}">
		<a class="nav-link" routerLink="/feed">
		  <span class="menu-title">Hotel List</span>
		  <i class="mdi mdi-format-list-bulleted menu-icon"></i>
		</a>
	  </li>
	  
	  <li class="nav-item" [ngClass]="{ 'active': '/add' }">
		<a class="nav-link" routerLink="/add" >
		  <span class="menu-title">Add new Hotel</span>
		  <i class="mdi mdi-format-list-bulleted menu-icon"></i>
		</a>
	  </li>
	
	  <li class="nav-item" [ngClass]="{ 'active': 'logout' }" (click)="logOut()" >
		  <a class="nav-link" routerLink="" >
		  <span class="menu-title">logout</span>
		  <i class="mdi mdi-logout menu-icon"></i>
		</a>
	  </li>
	</ul>

</nav>

<div class="row">
	<div class="col-md-12 grid-margin stretch-card">
<div class="w3-main" style="margin-left:250px;margin-top: -900px;">
	<div class="w3-container">
		<router-outlet></router-outlet>
	</div>
</div>
</div>
</div>
	





		  
