
 .logo{
 	margin: 10px 10px;
 }
 .custom-button{
 	float: right;
 	font-size: 15px;
 }
 .text-center{
 	text-align: center;
 }
 .pointer{
 	cursor: pointer;
 }
 .float-right{
 	float:right;
 }
 .w3-button{
 	border-radius: 10px;
 }
 .w3-input{
 	margin-bottom: 10px;
 }
 .custom-icon{
 	margin: 5px 6px 5px 0px;
 	font-size: 20px!important;
 }