
<div class="row">
	<div class="col-md-12 grid-margin stretch-card">
		

<div class="w3-container"  style="width:1030px;height:1000px;margin-right:350px;"  *ngIf="hotelAddForm">
	<form class="w3-container" [formGroup]="hotelAddForm" (ngSubmit)="doRegister()">
	<div class="w3-panel w3-round-small w3-deep-purple">
		<h3><span *ngIf="index === undefined">Hotel Registration</span><span *ngIf="index != undefined">Hotel Update</span> <a routerLink="/feed" class="w3-button  custom-button"><i class="w3-medium fa fa-chevron-left"></i> Back</a></h3>
	</div>

	<div class=" w3-card custom-card" style="width:1000px;margin-right:350px;"><br>
		<table class="w3-table" style="width:1000px;margin-right:350px;" >
		<label class="w3-text-blue"  style="width:750px;margin-left:50px;" ><i class="w3-medium custom-icon fa fa-hotel"></i><b>Nom Hotel</b></label>
		<input class="w3-input" style="width:900px;margin-left:50px;" type="text" formControlName="nom">
		<div class="w3-panel w3-red"  *ngIf="hotelAddForm.controls.nom.invalid && (hotelAddForm.controls.nom.dirty || hotelAddForm.controls.nom.touched)">Please enter 3 to 50 characters</div> 

		<label class="w3-text-blue"  style="width:750px;margin-left:50px;" ><i class="w3-medium custom-icon fa fa-building"></i><b>Lieu Hotel</b></label>
		<input class="w3-input"  style="width:900px;margin-left:50px;"  type="text" formControlName="lieu">
		<div class="w3-panel w3-red"  *ngIf="hotelAddForm.controls.lieu.invalid && (hotelAddForm.controls.lieu.dirty || hotelAddForm.controls.lieu.touched)">Please enter  3 to 50 characters </div> 

		<label class="w3-text-blue"  style="width:750px;margin-left:50px;" ><i class="w3-medium custom-icon fa fa-envelope-o"></i><b>Email </b></label>
		<input class="w3-input"  style="width:900px;margin-left:50px;"  type="text" formControlName="email">
		<div class="w3-panel w3-red"  *ngIf="hotelAddForm.controls.email.invalid && (hotelAddForm.controls.email.dirty || hotelAddForm.controls.email.touched)">Please enter valid email address</div> 

		<label class="w3-text-blue"  style="width:750px;margin-left:50px;" ><i class="w3-medium custom-icon fa fa-phone"></i><b>Phone</b></label>
		<input class="w3-input"  style="width:900px;margin-left:50px;"  type="text" formControlName="phone">
		<div class="w3-panel w3-red"  *ngIf="hotelAddForm.controls.phone.invalid && (hotelAddForm.controls.phone.dirty || hotelAddForm.controls.phone.touched)">Please enter valid phone number</div> 
	
		
		<label class="w3-text-blue"  style="width:750px;margin-left:50px;" ><i class="w3-medium custom-icon fa fa-address-card"></i><b>Address</b></label>
		<input class="w3-input"  style="width:900px;margin-left:50px;"  type="text" formControlName="address">
		<div class="w3-panel w3-red"  *ngIf="hotelAddForm.controls.address.invalid && (hotelAddForm.controls.address.dirty || hotelAddForm.controls.address.touched)">Please enter valid address </div> 
		<br>
		<button class="w3-btn w3-deep-purple"  style="margin-left:50px;"  type="submit" [disabled]="!hotelAddForm.valid"><span *ngIf="index === undefined">Register</span><span *ngIf="index != undefined">Update</span> <i class="w3-medium fa fa-check"></i> </button>
	</table>
	</div>
	</form>
</div>
</div>
</div>