
<div class="w3-container" *ngIf="hotelListData">
	<div class="w3-panel w3-round-small w3-deep-purple">
		<h3>Hotel List <button routerLink="/add" class="w3-button  custom-button"><i class="w3-medium  fa fa-plus"></i> Add New Hotel</button></h3>
	</div>
	<span><i class="w3-medium fa fa-search"></i> Search : <input class="" type="text" [(ngModel)]='filterData'></span>

	<div class="w3-panel w3-green" *ngIf="(hotelListData | filter:filterData).length === 0">
		<h3>Oh no</h3>
		<p>No hotels found <span *ngIf="filterData"> with search "{{filterData}}"</span> </p>
	</div>
	<div class="w3-panel w3-light-grey w3-padding-16 w3-card-2" *ngIf="(hotelListData | filter:filterData | filter:filterData).length != 0">
		<table class="w3-table w3-striped w3-bordered">
			<tr>
				<th><i class="w3-medium custom-icon fa fa-refresh"></i> Ref.num</th>
				<th><i class="w3-medium custom-icon fa fa-hotel"></i> Nom Hotel</th>
				<th><i class="w3-medium custom-icon fa fa-building"></i> Lieu Hotel</th>
				<th><i class="w3-medium custom-icon fa fa-envelope-o"></i> Email</th>
				<th><i class="w3-medium custom-icon fa fa-phone"></i> Phone</th>
				<th><i class="w3-medium custom-icon fa fa-address-card"></i> Address</th>
				<th><i class="w3-medium custom-icon fa fa-pencil"></i> Update</th>
				<th><i class="w3-medium custom-icon fa fa-trash"></i> Delete</th>
			</tr>
			<tr *ngFor="let hotel of hotelListData | filter:filterData; index as i;" appHighlightStudent>
				<td>{{i +1}}</td>
				<td class="pointer" [routerLink]="['/detail', i]">{{hotel.nom}} </td>
				<td class="pointer" [routerLink]="['/detail', i]">{{hotel.lieu}}</td>
				<td class="pointer" [routerLink]="['/detail', i]">{{hotel.email}}</td>
				<td class="pointer" [routerLink]="['/detail', i]">{{hotel.phone | phone}}</td>
				<td class="pointer" [routerLink]="['/detail', i]">{{hotel.address}}</td>
				<td><button [routerLink]="['/update', i]" class="w3-button w3-blue">Update</button></td>
				<td><button (click)="deleteHotel(i);" class="w3-button w3-blue">Delete</button></td>
			</tr>
		</table>
	</div>
</div>

